@import "include-media";
@import 'variables.scss';
@import 'mixins.scss';
body {
  font-family: 'Roboto', sans-serif;

  position: relative;

  width: 100%;
  height: 100%;

  color: $gray-2;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;

  margin: 0 0 35px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: $orange;
  text-shadow: 1px 1px 2px #000;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1em;
  line-height: 1.5;
  text-align: left;

  margin: 0 0 25px;
  @include media(">=tablet"){
    font-size: 18px;
    line-height: 1.6;

    margin: 0 0 35px;
  }

  @include media("<tablet"){
    font-size: 1em;
  }

  &.caption{
    font-size:.9em;
    margin-top:1em;
    font-style: italic;
  }
}

iframe {
  height: auto;
  width:100%;

  @include media(">=desktop"){
    height:100%;
  }

  @include media(">=tablet"){
    height:450px;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width:100%;

  input,
  textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding:1em;
    margin-bottom:1em;

    @include media(">desktop"){
      width:450px;
    }

    @include media("<=tablet"){
      width:350px;
    }


    &[type=submit]{
      cursor: pointer;
    }
  }
}

#form-messages {
  font-size: 1.2em;
  padding: 1em;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;

  @include media(">desktop"){
    width:450px;
  }

  @include media("<=tablet"){
    width:350px;
  }

  &.success {
    border: 3px solid green;
    color: green;
  }
  &.error {
    border: 3px solid red;
    color: red;
  }
}

span {
  @extend p;

  &.bold-orange {
    //font-weight:700;
    color: $orange;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }

  &.link {
    text-decoration:none;
    border-bottom: 2px solid $primary;
    display: inline-block;
    line-height: 1.5;
    text-shadow:
            2px 2px black,
            2px -2px black,
            -2px 2px black,
            -2px -2px black;

    &:hover {
      text-decoration: none;
      color: darken($primary, 20%);
    }
  }
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  margin-bottom: 0;

  text-transform: uppercase;

  border-bottom: 1px solid fade-out(white, .7);
  background-color: black;

  .navbar-toggler {
    font-size: 14px;

    padding: 11px;

    color: white;
    border: 1px solid white;
  }

  .navbar-brand {
    font-weight: 700;
  }

  img{
    width:70px;
    margin-right:2em;
  }

  a {
    color: white;
  }

  .navbar-nav {
    .nav-item {
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media(min-width:992px) {
    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;

    border-bottom: none;
    background: transparent;
    &.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;

      border-bottom: 1px solid fade-out(white, .7);
      background: black;
    }
    .nav-link.active {
      outline: none;
      background-color: rgba(white, .3);
      border-radius: 3px;
      &:hover {
        color: white;
      }
    }
  }
}

.masthead {
  display: table;

  width: 100%;
  height: auto;
  padding: 200px 0;

  text-align: center;

  color: white;
  background: url('../img/cover.png') no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 0% 0;

  p{
    text-align: center;
  }

  .intro-body {
    display: table-cell;

    vertical-align: middle;
    .brand-heading {
      font-size: 50px;
      color: $orange;
      text-shadow: 3px 3px 1px #000;
    }
    .intro-text {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    background-position: 100% 0%;
    .intro-body {
      .brand-heading {
        font-size: 5em;
      }
      .intro-text {
        font-size: 22px;
      }
    }
  }
}

.btn-lg {
  font-size:1em;

  @include media(">=desktop"){
    font-size: 1.25em;
  }
}

.btn-circle {
  font-size: 26px;

  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;

  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;

  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
  &:focus,
  &:hover {
    color: white;
    outline: none;
    background: fade-out(white, .9);
  }
}

.content-section {
  padding-top: 1em;
  padding-bottom: 1em;

  @include media("<=tablet"){
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.experiences-section {
  color: white;
  background: url('../img/sticky-notes_bw.png') no-repeat center center scroll;
  background-color: $dark;
  //background:
  //        radial-gradient(black 15%, transparent 16%) 0 0,
  //        radial-gradient(black 15%, transparent 16%) 8px 8px,
  //        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  //        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  //background-color:#282828;
  //background-size:16px 16px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }
  .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
  }*/

  .project {
    display: block;
    width: 100%;
    min-height:400px;
    background: rgba(black, 0.8);
    border: 3px solid rgba($gray-2, .3);
    border-radius: 5px;

    margin-bottom:1.8em;
    padding:2em;

    h3 {
      color: $gray-2;
    }

    img.screenshot {
      width:90%;
      margin-top:2.5em;

      @include media(">=desktop"){
        width: 50%;
        margin-top: 0;
      }
    }
  }
}

#map {
  width: 100%;
  height: 300px;
}
@media(min-width:992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  #map {
    height: 350px;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;

  border-radius: 0;
}

.btn-default {
  color: $orange;
  border: 2px solid $orange;
  background-color: transparent;
  &:focus,
  &:hover {
    color: black;
    border: 2px solid $orange;
    outline: none;
    background-color: $orange;
  }
  border-radius: 7px;
}

ul.banner-social-buttons {
  margin-top: 0;
  @media(max-width: 1199px) {
    margin-top: 15px;
  }
  @media(max-width:767px) {
    li {
      display: block;

      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

footer {
  padding: 50px 0;
  p {
    font-size: 14px;

    margin: 0;
  }
}

::-moz-selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: fade-out(white, .8);
}
